*.obj
*.pch
*.lib
*.exe
*.dll
*.exp
*.ilk
*.ipch
*.pdb
*.suo
*.sdf
*.opensdf
*.opendb
*.user
*.log
*.tlog
*.db

*.sln
*.csproj

Plugin/Bin
_out/
_tmp/
Externals/
Library/
Temp/
Hidden/
obj/

*.abc
